@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*
{
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
body
{
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.contenedor
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: white;
    display: grid;
    display: flex;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 1);
    margin: 20px;
}
@media (max-width: 400px)
{
    .contenedor
    {
        height: 500px;
        flex-direction: column;
    }
}
.contenedor .contenedor_izq
{
    position: relative;
    background: #614d51;
    padding: 40px;
}
.separador
{
    border-bottom: 1.5px solid #C9AF94;
}
.titulos
{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 5px;
}
.fa
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #C9AF94;
}
.textolista
{
    color:white;
    font-weight: 500;
}
.datos
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
}
.datos .foto
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 23px rgba(245, 222, 179, 0.6);
}
.datos .foto foto
{
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.datos h1
{
    color: white;
    font-size: 1.6em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.3em;
}
.infoPersonal
{
    padding-top: 5px;
    color:white;
    font-weight: 300;
}
.contacto
{
    padding-top: 5px;
}
.contacto .fa-ul li
{
    margin-bottom: 5px;
}
.contacto ul li
{
    position: relative;
    margin: 10ox 0;
    cursor: pointer;
}
.contacto a
{
    color: #C9AF94;
}
.contacto ul li .enlace:hover
{
    text-shadow: 0 0 9px wheat;
}
.idiomas .textolista
{
   color:white;
    font-weight: 600;
}
.idiomas .fa-ul .porcentaje
{
    position:relative;
    width: 100%;
    height: 6px;
    background: black;
    display: block;
    margin-top: 6px;
    margin-bottom: 10px;
    margin-left: 0px;
}
.idiomas .fa-ul .porcentaje div
{
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #C9AF94;
    margin-left: 0px;
}
.boton
{
    margin: 0;
    left: 70%;
    position: absolute;
    background-color: #C9AF94;
    border: none;
    padding: 15px 32px;
    border-radius: 50%;
}
.boton:active
{
    background-color: #a78f77;
}
.boton:hover
{
    box-shadow: 0 0 9px rgba(245,222,179,0.6);
}
.texto_boton
{
    align-items: center;
    left: 0%;
    color:white;
    font-weight: 700;
}
.contenedor .contenedor_der
{
    position: relative;
    background: ivory;
    padding: 40px;
    margin-top: 2px;
}
.separador_der
{
    border-bottom: 1.5px solid rgba(97, 77, 81, 0.6);
}
.titulos_der
{
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 5px;    
    font-size: 23px;
}
.formacion ul li
{
    margin-bottom: 1em;
    color: #614d51;
    font-size: 18px;
}
.experiencia ul li
{
    margin-bottom: 1em;
    color: #614d51;
    font-size: 18px;
}
.fecha
{
    color:#614d51;
    font-weight: 500;
    margin-top: 20px;
    font-weight: 600;
}
.puesto
{
    color:black;
    font-weight: 700;
    font-size: 20px;
}
.lugar
{
    color:#614d51;
    font-weight: 200;
}



